<h3>Edit a new Product</h3>
<form (submit)="onSubmit()" *ngIf="editProd">
        <div class="form-group">
            <label for="">Name</label>
            <p class="small text-danger" *ngIf="err.name && err.name.message">{{ err.name.message }}</p>
            <input type="text" name="editProd.name" id="" class="form-control" [(ngModel)]="editProd.name" value="editProd.name">
        </div>
        <div class="form-group">
            <label for="">Price</label>
            <p class="small text-danger" *ngIf="err.price && err.price.message">{{ err.price.message }}</p>
            <input type="number" class="form-control" name="editProd.price" id="" [(ngModel)]="editProd.price" value="editProd.price">
        </div>
        <div class="form-group">
            <label for="">Image URL</label>
            <p class="small text-danger" *ngIf="err.img && err.img.message">{{ err.img.message }}</p>
            <input type="text" name="editProd.img" id="" class="form-control" [(ngModel)]="editProd.img" value="editProd.img">
        </div>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>