

<div *ngIf="pet" class="container">
    <h2>Details about {{ pet.name }}</h2>

    <h3>Pet type:</h3>
    <h6>{{ pet.type }}</h6>
    <h3>Description:</h3>
    <h6>{{ pet.desc }}</h6>
    <h3>Skills:</h3>
    <h6 *ngIf="pet.skill1">{{ pet.skill1 }}</h6>
    <h6 *ngIf="pet.skill2">{{ pet.skill2 }}</h6>
    <h6 *ngIf="pet.skill3">{{ pet.skill3 }}</h6>
    <h3>Likes:</h3>
    <h6>{{ pet.likes }}</h6>
    <a (click)="onLike()" class="btn btn-primary ml-4 text-white" [ngStyle]="{'visibility': showing}"  >Like this pet!</a>
    <a (click)="onAdopt()" class="btn btn-primary ml-4 text-white" >Adopt this pet!</a>
</div>