<h3>Know of a pet needing a home?</h3>
<form (submit)="onSubmit()" *ngIf="newPet">
    <div class="form-group">
        <label for="newPet.name">Pet Name</label>
        <p class="small text-danger" *ngIf="uniqueError">That name is in use.  Please enter a unique name</p>
        <p class="small text-danger" *ngIf="err.name && err.name.message">{{ err.name.message }}</p>
        <input type="text" name="newPet.name" id="" class="form-control w-50" [(ngModel)]="newPet.name"
            required minlength="3" #name="ngModel">
        <p *ngIf="name.errors" class="errors">Name is required and must be at least 3 characters</p>
        </div>
    <div class="form-group">
        <label for="newPet.type">Pet Type</label>
        <p class="small text-danger" *ngIf="err.type && err.type.message">{{ err.type.message }}</p>
        <input type="text" class="form-control w-50" name="newPet.type" [(ngModel)]="newPet.type"
        required minlength="3" #type="ngModel">
        <p *ngIf="type.errors" class="errors">Type is required and must be at least 3 characters</p>
    </div>
    <div class="form-group">
        <label for="newPet.desc">Description</label>
        <p class="small text-danger" *ngIf="err.desc && err.desc.message">{{ err.desc.message }}</p>
        <input type="text" name="newPet.desc" id="" class="form-control w-50" [(ngModel)]="newPet.desc"
            required #desc="ngModel">
        <p *ngIf="desc.errors" class="errors">Description is required and must be at least 3 characters</p>
    </div>
    <p>Skills:</p>
    <div class="row">
        <label class="ml-5" for="newPet.name">Skill 1:</label>
        <input type="text" name="newPet.skill1" id="" class="form-control w-25 ml-2" [(ngModel)]="newPet.skill1">
        </div>
    <div class="row ">
        <label class="ml-5" for="newPet.skill2">Skill 2:</label>
        <input type="text" class="form-control w-25 ml-2" name="newPet.price" [(ngModel)]="newPet.skill2">
    </div>
    <div class="row">
        <label class="ml-5" for="newPet.skill3">Skill 3:</label>
        <input type="text" name="newPet.skill3" id="" class="form-control w-25 ml-2" [(ngModel)]="newPet.skill3">
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
    
    <a [routerLink]="['/pets']" class="btn btn-primary ml-4">Cancel</a>
</form>